<div class="sidebar">
  <div class="title">Reading List</div>
  <ul>
    <li><a href="http://www.readwriteweb.com">ReadWriteWeb</a></li>
    <li><a href="http://www.mashable.com">Mashable</a></li>
    <li><a href="http://www.smashingmagazine.com/">Smashing Magazine</a></li>
    <li><a href="http://boingboing.net/">Boing Boing</a></li>
    <li><a href="http://icanhascheezburger.com">I Can Has Cheezburger?</a></li>
  </ul>
</div>
