<h1>Access to this site requires an account</h1>
<%=button_to 'New Account', new_user_url%></p>
<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login' %></p>
<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>
<p><%= submit_tag 'Log in' %> </p>
<% end -%>

