<h1>Thank You</h1>
<p>Your order is being processed, and your pizzas should be delivered within the next XX minutes.</p>
<p>The reference number for your order is <%= h(@order.reference_number) %>. 
  Please call us at XXX-XXX-XXXX if you have any issues.</p>

